.container {
  margin: 0 auto;
  width: 840px;
  border-width: 1px;
  border-style: dotted;
  border-color: black
}
.label {
  width: 100px;
  border-width: 1px;
  border-style: dotted;
  border-color: black;
  color: black;
  font-family: 'Open Sans', sans-serif;
}